@model IEnumerable<Xero.NetStandard.OAuth2.Model.Invoice>

@{
    ViewData["Title"] = "List";
}

<div class="ui three top attached steps">
    <a class="step" href="create">
        <i class="certificate icon"></i>
        <div class="content">
            <div class="title">Invoicing</div>
            <div class="description">Enter invocing imformation</div>
        </div>
    </a>
    <div class="step">
        <i class="payment icon"></i>
        <div class="content">
            <div class="title">Payment</div>
            <div class="description">Let's get it paid</div>
        </div>
    </div>
    <div class="active step">
        <i class="list icon"></i>
        <div class="content">
            <div class="title">Invoices</div>
            <div class="description">All invoices list here</div>
        </div>
    </div>
</div>
<div class="ui attached segment">
    <table class="ui table">
        <thead>
            <tr>
                <th>Number</th>
                <th>To</th>
                <th>Date</th>
                <th>Due Date</th>
                <th>Paid</th>
                <th>Due</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.InvoiceNumber</td>
                    <td>@item.Contact.Name</td>
                    <td>@(item.Date.HasValue ? ((DateTime)item.Date).ToString("dd MMMM yyyy") : "")</td>
                    <td>@(item.DueDate.HasValue ? ((DateTime)item.DueDate).ToString("dd MMMM yyyy") : "")</td>
                    <td>@(string.Format("{0:N2}", item.AmountPaid))</td>
                    <td>@(string.Format("{0:N2}", item.AmountDue))</td>
                    <td>@item.Status</td>
                    <td>
                        @if (item.AmountDue > 0)
                        {
                            @Html.ActionLink("Pay", "InvoiceView", new { invoiceId = item.InvoiceID })
                        }
                        else
                        {
                            @Html.ActionLink("View", "InvoiceView", new { invoiceId = item.InvoiceID })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
